.App {
  text-align: center;
  color: #313131;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  background: #377E86;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #111;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #313131;
  cursor: pointer;
}

.sort-btn{
    margin: 0 10px 20px;
}

.myfooter{
    background-color: #377E86;
    color: #c5c5c5;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.footer-link{
    color: #f1f1f1
}

.footer-link:hover{
    color: #313131;
    text-decoration: none;
}

@keyframes jump-up {
    50% {
        transform: translate(0, 10px);
    }
}

.dot1 {
    background-color: #306d74;
    animation: jump-up 0.8s 0.1s linear infinite;
}

.dot2 {
    background-color: #6C757D;
    animation: jump-up 0.8s 0.2s linear infinite;
}

.dot3 {
    background-color: #5bcedb;
    animation: jump-up 0.8s 0.3s linear infinite;
}
